<% products.each do |product| %>
  <div class="col mt-4">
    <div class="card">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <% if product.images.first.present? %>
          <%= image_tag product.images.first, size: "200x200", class: "img-fluid" %>
        <% end %>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%=link_to product.name.truncate(10), product_path(product.id) %></h5>
        <p class="card-text"><%=product.introduction.truncate(10) %></p>
        <%= link_to product_path(product.id), class: "btn bgleft" do %>
          <span>作品の詳細を見る</span>
        <% end %>
        <div class="card-text">
          <i class="fas fa-heart"style="color: red;"></i><%= product.likes.count %>
          <i class="far fa-comment"></i><%= product.comments.count %>
          <%= product.user.user_name %>
        </div>
      </div>
    </div>
  </div>
<% end %>