
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
        
      <h2>User info</h2>
      <%= render 'public/users/info',user:current_user %>
    </div>
    <div class='col-md-8 ofset-md-1'>
      <% if @product.images.attached? %>
        <div>
          
          <%= image_tag @selected_image, size: "400x400" %>
        </div>
        <% @product.images.each_with_index do |image, i| %>
          <%= link_to product_path(@product, image_index: i) do %>
            <%= image_tag image, size: "150x150" %>
          <% end %>
        <% end %>
      <% else %>
        <%= image_tag "no_image",size: "200x200" %>
      <% end %>
      <div class="container">
        <div class="row">
          <div class="mx-auto">
            <%= link_to "作家をフォローする", class: "btn btn-light" %>
            <%= link_to "♡エールを送る", class: "btn btn-light" %>
            <%= link_to "編集する",edit_product_path(@product.id), class: "btn btn-success" %>
            <%= link_to "削除",product_path(@product.id),method: :delete, "data-confirm"=>"本当に削除しますか？", class: "btn btn-danger" %>
          
          <%# カリキュラムのいいね機能実装　%>
            <% if @product.liked_by?(current_user) %>
              <p>
                <%= link_to product_likes_path(@product), method: :delete do %>
                  ♥<%= @product.likes.count %> いいね
                <% end %>
              </p>
              <% else %>
              <p>
                <%= link_to product_likes_path(@product), method: :post do %>
                  ♡<%= @product.likes.count %> いいね
                <% end %>
              </p>
            <% end %>
         
          </div>
        </div>
      </div>
       <table class= "table">
         <tr>
           <td>作品説明</td>
           <td><%= @product.introduction %></td>
         </tr>
       </table>
       
       <div>
  <p>コメント件数：<%= @product.comments.count %></p>
  <% @product.comments.each do |comment| %>
    <p><%= image_tag comment.user.get_profile_image(100,100) %></p>
    <%= comment.user.user_name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
     <% if comment.user == current_user %>
      <%= link_to "削除", product_comment_path(comment.product, comment), method: :delete %>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@product, @comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>