<div class="container">
  <div class="row">
    <!--#スライド-->
    <div class="swiper mt-3">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <%= image_tag 'top1.jpg' %>
        </div>
        <div class="swiper-slide">
          <%= image_tag 'top2.jpg' %>
        </div>
        <div class="swiper-slide">
          <%= image_tag 'top3.jpg' %>
        </div>
        <div class="swiper-slide">
          <%= image_tag 'top4.jpg' %>
        </div>
      </div>
      <!-- ページネーションの要素 -->
      <div class="swiper-pagination"></div>
      <!-- ナビゲーションボタン （前、次） -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>

   <div class='container px-5 px-sm-0'>
     <div class='row mt-3 ml-5'>
       <h4><span class="bg-light">注目の人気投稿<span></h4>
     </div>
       <div class='col-md-12 pl-5 mt-2'>
         <div class="row row-cols-1 row-cols-4">
           <% @products.first(4).each do |product| %>
             <div class="col mt-4 mb-4">
                <div class="card">
                  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <% if product.images.first.present? %>
                      <%= image_tag product.images.first, size: "200x200", class: "img-fluid" %>
                    <% end %>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"><%=link_to product.name.truncate(10), product_path(product.id) %></h5>
                    <p class="card-text"><%=product.introduction.truncate(10) %></p>
                    <%= link_to product_path(product.id), class: "btn bgleft" do %>
                      <span>作品の詳細を見る</span>
                    <% end %>
                  </div>
                </div>
             </div>
           <% end %>
       </div>
     </div>
     <% if !current_user %>
       <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6 mt-5'>
        <div class="btn-wrapper col-10 mx-auto">
          <div class="row">
            <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
          </div>
          <div class="row">
            <%= link_to 'Log in',new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
          </div>
          <div class="row">
            <%= link_to 'Sign Up',new_user_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
          </div>
        </div>
      </div>
      <div class="spacer" style="height: 30px;"></div>
    <% end %>
</div>