<div class="container px-5 px-sm-0">
 <div class="row" style="margin-top:25px;">
  <div class="col-sm-10 px-sm-0 mx-auto mb-5">
    <h4><span class="bg-light">ジャンル一覧・追加</span></h4>
  </div>
  <div class>
    <%= form_with model: @genre, url: admin_genres_path, local:true do |f| %>
      <div class="form-group mb-5">
        <%=f.label :"ジャンル名" %>
        <%=f.text_field :name, placeholder: "ジャンル名" %>
        <%=f.submit "新規登録",class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
  
  <div class="col-sm-5 px-sm-0 mx-auto mb-5">
    <table class="table">
      <thead class="table-active">
        <tr>
           <th>ジャンル</th>
           <th colspan=""></th>
         </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
            <tr>
              <td><%=genre.name %></td>
              <td><%=link_to "編集する",edit_admin_genre_path(genre.id),class: 'btn btn-sm btn-success' %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>