<div class="container">
 <div class="row">
  <div class="col-sm-12 col-md-11 col-lg-9  mx-auto">
   <br>
     <h4><span class="bg-light">作品一覧<span></h4>
      <table class='table'>
       <thead class="table table-light">
        <tr> 
          <th>作品名</th>
          <th>投稿ユーザー</th>
          <th>ジャンル</th>
          <th>いいね数</th>
          <th>ステータス</th>
        </tr>
       </thead>
       <tbody>
         <% @products.each do |product| %>
           <tr>
             <td><%= link_to product.name,admin_product_path(product.id) %></td>
             <td><%= link_to product.user.user_name,admin_user_path(product.user.id) %></td>
             <td><%= product.genre.name %></td>
             <td><%= product.likes.count %></td>
             <td><%= product.status %></td>
           </tr>
         <% end %>
       </tbody>
      </table>
    </div>
  </div>

      
 <div class="row p-3">
   <div class="col-md-6 offset-md-3 py-2">
     <div class="text-center">
       <%= paginate @products %>
     </div>
   </div>
 </div>
</div>

                  