
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3 mt-4'>
      <h2>User info</h2>
      <%= render 'public/users/info',user:@product.user %>

    </div>
    <div class='col-md-9 row pl-5 mt-4'>
      <div class='col-md-7 ofset-md-1'>
        <% if @product.images.attached? %>
          <div>
            <%= image_tag @selected_image, size: "400x400" %>
          </div>
          <% @product.images.each_with_index do |image, i| %>
            <%= link_to product_path(@product, image_index: i) do %>
              <%= image_tag image, size: "100x100" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class='col-md-5'>
        <br>
        <br>
        作品名:<%= @product.name %>
        <br>
        <br>
        <!--<div id = "like_<%#= @product.id %>">-->
        <!--  <%#= render partial: "public/likes/like", locals: { product: @product } %>-->
        <!--</div>-->
        ♡エール数:<%= @product.likes.count %> 
        <br>
        ジャンル名:<%= @product.genre.name %>
        <br>
        <br>
        <div>作品説明 :</div>
        <div><%= @product.introduction %></div>
        <br>
          <div class="current_user acrion">
            <%= link_to "編集する",edit_admin_product_path(@product.id), class: "btn btn-success" %>
            <%= link_to "削除",product_path(@product.id),method: :delete, "data-confirm"=>"本当に削除しますか？", class: "btn btn-danger" %>
          </div>
        <%# カリキュラムのいいね機能実装　%>
      <!--  <%# if signed_in? && @user != current_user%>-->
      <!--    <div id="like_form">-->
      <!--      <%# if @product.liked_by?(current_user) %>-->
      <!--        <p>-->
      <!--          <#%= link_to product_likes_path(@product), class: "btn btn-outline-danger", method: :delete do %>-->
      <!--            ♥<#%= @product.likes.count %> いいね済み-->
      <!--          <#% end %>-->
      <!--        </p>-->
      <!--      <#% else %>-->
      <!--        <p>-->
      <!--          <#%= link_to product_likes_path(@product), class: "btn btn-outline-danger", method: :post do %>-->
      <!--            ♡<#%= @product.likes.count %> いいねする-->
      <!--          <#% end %>-->
      <!--        </p>-->
      <!--      <#% end %>-->
      <!--    </div>-->
      <!--  <#% end %>-->
        <%# 参考資料のフォロー、フォロワー機能実装　%>
      <!--  <#% if signed_in? && @user != current_user%>-->
      <!--    <div id="follow_form">-->
      <!--      <#% if current_user.following?(@product.user) %>-->
      <!--        <#%= link_to "フォロー中", unfollow_path(user_id:@product.user_id), class: "btn btn-outline-primary", method: :delete %>-->
      <!--      <#% else %>-->
      <!--        <#%= link_to "フォローする", follow_path(user_id:@product.user_id), class: "btn btn-outline-primary", method: :post %>-->
      <!--      <#% end %>-->
      <!--    </div>-->
      <!--  <#% end %>-->
      <!--</div>-->
        
      
      <div class="mt-5">
        <div>
          <p>コメント件数：<%= @product.comments.count %></p>
          <% @product.comments.each do |comment| %>
            <p><%= image_tag comment.user.get_profile_image(100,100) %></p>
            <%= comment.user.user_name %>
            <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
             <% if comment.user == current_user %>
              <%= link_to "削除", product_comment_path(comment.product, comment), method: :delete %>
            <% end %>
          <% end %>
        </div>
        <div>
          <%= form_with model: [@product, @comment] do |f| %>
            <%= f.text_area :comment, rows: '3', placeholder: "コメントをここに" %>
            <%= f.submit "送信する" %>
          <% end %>
        </div>
      </div>
      
      
    </div>
  </div>
</div>
      
