<div class="container">
 <div class="row">
  <div class="col-sm-12 col-md-11 col-lg-8  mx-auto">
   <br>
     <h4><span class="bg-light">ユーザー一覧<span></h4>
      <table class='table'>
       <thead class="table table-light">
        <tr>
          <th>会員ID</th>
          <th>ユーザーネーム</th>
          <th>メールアドレス</th>
          <th>フォロワー数</th>
          <th>投稿数</th>
        </tr>
       </thead>
         <tbody>
           <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= link_to user.user_name,admin_user_path(user.id) %></td>
              <td><%= user.email %></td>
              <td><%= user.followers.count %></td>
              <td><%=
              user.products.count %></td>
            </tr>
           <% end %>
　       </tbody>
      </table>
     <%= paginate @users %>
    </div>
  </div>
</div>