<div class="container">
  <div class="row">
    <div class="card mb-3 col-md-12 mt-5 " >
      <div class="row no-gutters">
        <div class="col-md-4 mt-4 mb-4">
          <%= image_tag @user.get_profile_image(200, 200) %>
        </div>
          <div class="col-md-8 mt-2">
            <div class="card-body">
              <h5 class="card-title"> <%= @user.user_name %></h5>
            <div class="card-text">
              <% if @user.self_introduction.present? %>
                <div class="mb-3">
                  <h6 class="m-0">Introduction</h6>
                  <%= @user.self_introduction %>
                </div>
              <% end %>
              <div class="mb-3">
                <h6 class="m-0">Post count</h6>
                <%= @user.products.count %>
              </div>
              <div class="row">
                <div class="col-12 col-md-3">
                  <small class="text-black-50">
                    Follow: <%= link_to @user.followings.count, followings_friend_path(@user.id) %>
            	    </small>
                </div>
                <div class="col-12 col-md-3">
                  <small class="text-black-50">
                    Follower: <%= link_to @user.followers.count, followers_friend_path(@user.id) %>
                  </small>
                </div>
                <div class="col-12 col-md-3">
                  <small class="text-black-50">
                    Likes: <%= link_to @user.likes.count, likes_user_path %>
                  </small>
                </div>
                <div class="col-12 col-md-3">
                  <% if signed_in? && @user == current_user %>
                  <small class="text-black-50">
                    Private: <%= link_to @private_products.count, private_user_path(@user.id) %>
                  </small>
                  <% end %>
                </div>
                <% if user_signed_in? && @user == current_user %>
                  <%= link_to "プロフィールを編集する",edit_user_path(@user.id), class: "btn btn-success mr-2 mt-2" %>
                  <%= link_to "退会手続きをする",unsubscribe_user_path(@user.id), class: "btn btn-danger mt-2" %>
                <% end %>
                <% if user_signed_in? && @user != current_user && current_user.user_name != 'guestuser' %>
                  <div id="friend_buttons_<%= @user.id %>">
                    <%= render "public/friends/friends",user: @user %>
                  </div>
                <% end %>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    
     <div class="container mb-4">
       <div class="row row-cols-1 row-cols-4">
          <%= render 'public/products/card', products: @products %>
       </div>
    </div>
  </div>
  <div class="container"> 
  <div class="row p-3">
   <div class="col-md-6 offset-md-3 py-2">
     <div class="text-center">
       <%= paginate @products %>
     </div>
   </div>
 </div>
 </div>
      