<div>
  <h3><%= @user.user_name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <%= link_to "プロフィールを編集する",edit_user_path(@user.id), class: "btn btn-success" %>
  <%= @user.self_introduction %>
</div>

<!-- ユーザーの投稿一覧 -->

<% @products.each do |product| %>
  <div>
    <% product.images.each do |image| %>
      <%= link_to product_path(product.id) do %>
         <%= image_tag image, size: "200x200" %>
      <% end %>
    <% end %>
  </div>
 <% end %>
 